.navbar {
  background-color: #1a1a1d;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: 0%;
}

.navbar-brand {
  color: #c3073f;
  font-weight: bold;
}

.nav.navbar-nav li a {
  color: #c3073f;
}

.navbar-form.navbar-left {
  padding-left: 465px;
}

.form-select.mr-sm-2 {
  width: 100px;
  height: 34px;
  border-radius: 5px;
  background-color: #c3073f;
  color: #d6d6d6;
  padding-left: 15px;
}

.input-group {
  margin-left: 10px;
  width: 400px;
}

.btn.btn-default {
  background-color: #c3073f;
}

.glyphicon.glyphicon-search {
  color: white;
}
